# Виртуальное окружение
venv/
.env/

# Python кеш
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# БД (большие файлы баз данных не включаем в репозиторий)
*.db
*.sqlite

# Логи и временные файлы
*.log
*.tmp

# Jupyter
.ipynb_checkpoints/
